@import 'variables';
@import 'fonts';

.general-section {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    padding: 160px 40px 40px;
    flex-grow: 1;
    min-height: 100vh;
    opacity: 0;

    animation: fade-in 1.4s ease-in-out both;
}