@import '../styles/Styles.scss';

.about {
  @extend .general-section;

  &__container__who {
    display: flex;
    flex-wrap: wrap;

    &__text {
      flex-basis: 60%;
      padding: 20px;
    }

    &__image {
      padding: 20px;
      position: relative;
      transform: rotate(-5deg);

      transition: all 1s ease-in-out;

      .image-frame-1 {
        position: absolute;
        top: -10px;
        width: 300px;
        height: 300px;
        left: -10px;
        z-index: -1;
        border: 4px solid $secondary-color;
        border-radius: 1rem;

        transition: all 1s ease-in-out;
      }

      .image-frame-2 {
        position: absolute;
        top: 50px;
        width: 300px;
        height: 300px;
        left: 50px;
        z-index: 1;
        border: 4px solid $secondary-color;
        border-radius: 1rem;

        transition: all 1s ease-in-out;
      }

      img {
        width: 300px;
        height: 300px;
        display: block;
        z-index: 0;
        border-radius: 1rem;

        transition: all 1s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        transform: rotate(0deg);

        .image-frame-1 {
          top: 10px;
          left: 10px;
        }

        .image-frame-2 {
          top: 30px;
          left: 30px;
        }
      }
    }

    @media screen and (max-width: 720px) {
      .container {
        flex-direction: column;
      }

      .text {
        order: 2;
      }

      .image {
        order: 1;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}